body {
    font-family: Arial;
}
header {
    width: 300px;
    padding: 10px;
    background: beige;
}
h1 {
    color: olivedrab;
    border-bottom: 1px dotted darkgreen;
    margin: 0;
    padding-bottom: 10px;
}
p {
    color: orange;
}