div {width: 400px;}
p {
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-color: orange;
    border-width: 4px;
}
.solid {border-style: solid;}
.dotted {border-style: dotted;}
.dashed {border-style: dashed;}
.double {border-style: double;}
.groove {border-style: groove;}
.ridge {border-style: ridge;}
.inset {border-style: inset;}
.outset {border-style: outset;}
.hidden {border-style: hidden;}